<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">

<!-- <h2 class="display-4">Product</h2> -->
<form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <!-- Ten Giay (Name) -->
    <div class="form-group">
        <label>Tên Giày</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Name" #item required>
        <div *ngIf="Name.invalid && Name.touched" class="validation-error"></div>
        <!--Required-->
    </div>
    <!-- Loại (Type) -->
    <div class="form-group">
        <label>Loại</label>
        <input name="Type" #Name="ngModel" [(ngModel)]="service.formData.Type" class="form-control input-group-addon" placeholder="Type">
    </div>
    <!-- Size (Size) -->
    <div class="form-group">
        <label>Size</label>
        <input name="Size" #Name="ngModel" [(ngModel)]="service.formData.Size" class="form-control" placeholder="Size of Shoes">
    </div>
    <!-- Mau (Color) -->
    <div class="form-group">
        <label>Màu</label>
        <input name="Weight" #Name="ngModel" [(ngModel)]="service.formData.Weight" class="form-control input-group-addon" placeholder="Color">
    </div>
    <!-- Gia (Price) -->
    <div class="form-group">
        <label>Giá</label>
        <input name="Price" #Name="ngModel" [(ngModel)]="service.formData.Price" class="form-control input-group-addon" placeholder="Price">
    </div>
    <!-- Trang thai (Status) -->
    <div class="form-group">
        <label>Trạng thái</label>
        <input name="Status" #Name="ngModel" [(ngModel)]="service.formData.Status" class="form-control input-group-addon" placeholder="Status">
    </div>
    <!-- <div class="form-group">
        <mat-label>Status</mat-label>
        <mat-select [formControl]="panelColor"panelClass="example-panel-{{panelColor.value}}">
            <mat-option value="green">Còn hàng</mat-option>
            <mat-option value="blue">Sắp có</mat-option>
            <mat-option value="red">Hết Hàng</mat-option>
        </mat-select>
    </div> -->
    <!-- Add Button -->
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-danger" style="width: 100%;" [mat-dialog-close]
        (click)="openSnackBar(item.value)">Done</button>
    </div>
</form>
<!-- <mat-nav-list style="height: 800px;">
    <a mat-list-item style="justify-content: center;">
        <h1 style="font-family: 'Oxanium';">Insert News Shoes</h1>
    </a>
    
    <mat-form-field class="inputinfor ml-4">
        <mat-label>Shoes Name</mat-label>
        <input matInput name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="ShoesName" required>
        <div *ngIf="Name.invalid && Name.touched" class="validation-error">This place must have.</div>

    </mat-form-field>

    <mat-form-field class="inputinfor ml-4">
        <mat-label>Size</mat-label>
        <input matInput name="Size" #Name="ngModel" [(ngModel)]="service.formData.Size" class="form-control" placeholder="ShoesSize" required>

    </mat-form-field>

    <mat-form-field class="inputinfor ml-4">
        <mat-label>Price</mat-label>
        <input matInput name="Price" #Name="ngModel" [(ngModel)]="service.formData.Price" class="form-control" placeholder="ShoesPrice" required>

    </mat-form-field>

    <button type="submit"  class="btn mt-4 ml-4">Add</button>



  </mat-nav-list> -->