button{
    width: 90%;
    font-family: 'Oxanium';
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
mat-form-field{
    width: 90%;
}
.Input-img{
    border: 2px solid black;
    width: 90%;
    height: 20%;
}
.form-group{
    font-family: 'Oxanium';
}
// .example-panel-red.mat-select-panel {
//     background: rgba(255, 0, 0, 0.5);
//   }
  
//   .example-panel-green.mat-select-panel {
//     background: rgba(0, 255, 0, 0.5);
//   }
  
//   .example-panel-blue.mat-select-panel {
//     background: rgba(0, 0, 255, 0.5);
//   }
