button{
    font-family: 'Oxanium';
}
mat-form-field{
    width: 90%;
}
.Input-img{
    border: 2px solid black;
    width: 90%;
    height: 20%;
}
.form-group{
    font-family: 'Pangolin', cursive;
}