.title{
  font-size: 50px;
  font-family: 'Oxanium', ;
}
.title.hover{
  text-decoration: none;
}
a{
    text-decoration:none;
}
.Account-btn {
  font-size: 30px;
  border: none;
  border-radius: 5px;
  font-family: 'Oxanium';
  color: white;
  background: black;
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.Account-btn:hover{
  background: #e9971d;
  color: white;
}
.User-btn{
  font-size: 30px;
  border: none;
  border-radius: 5px;
  font-family: 'Oxanium';
  background: black;
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.User-btn:hover{
  background: #e9971d;
  color: white;
}