<!-- Create Account -->
<h2>Create Account</h2>
        <form #form="ngForm" class="example-form " [formGroup]="SignUpForm" (ngSubmit)="onSignUp()">

            <mat-form-field class="example-full-width ">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email"  [formControl]="email " #name required>
                <mat-error *ngIf="email.invalid ">{{getErrorMessage()}}</mat-error>
                <div *ngIf="email.invalid && email.touched" class="validation-error"></div>
            </mat-form-field>

            <mat-form-field class="example-full-width ">
                <mat-label>Enter your password</mat-label>
                <input matInput type='password' placeholder="Password" formControlName="password" [formControl]="password " required>
                <mat-error *ngIf="password.invalid ">{{getPasswordError()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width ">
                <mat-label>Enter your password again</mat-label>
                <input matInput placeholder="retype password " [formControl]="retypePassword" formControlName="retypePassword" required type='password'>
                <mat-error *ngIf="retypePassword.invalid ">{{getRetypePasswordError()}}</mat-error>
            </mat-form-field>

            <div class="example-button-row" style="text-align: center;">
                <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-facebook" style="width: 100%;" [mat-dialog-close] (ngSubmit)="onSignUp()"
                (click)="openSnackBar(name.value)">Create Account</button>
            </div>
        </form>
