<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">

<!-- <mat-tab-group mat-align-tabs="center"style="  font-family: 'Oxanium', ;"> -->

<!-- Login -->
    <h2>Login</h2>
        <form #form="ngForm" class="user" [formGroup]="LoginForm" (ngSubmit)="onLogin()">
            <!-- Input Email -->
            <mat-form-field class="example-full-width mt-2">
                <mat-label>Enter your email</mat-label>
                <input matInput type="email" placeholder="phamarcy@example.com" formControlName="email" [formControl]="email" #name required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <div *ngIf="email.invalid && email.touched" class="validation-error"></div>
            </mat-form-field>
            <!-- Inpput Password -->
            <mat-form-field class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="password" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
            <!-- Log In Button -->
            <div class="example-button-row" style="text-align: center;">
                <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-facebook" style="width: 100%;" [mat-dialog-close] (ngSubmit)="onLogin()"
                (click)="openSnackBar(name.value)">Log In</button>
            </div>
<!-- 
            <div class="space">
                <div class="s311c"></div>
                <div class="or">OR</div>
                <div class="line2"></div>
            </div> -->
            <div class="GG mt-2">
                <button class="ggbtn" type="submit" class="btn btn-lg btn-block" [mat-dialog-close] (click)="onLoginwithGG()">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.0y567hpBJynPCI5t78M0RgHaHj&pid=Api" alt="">
                  Log in with Google
                </button>
            </div>
        </form>


<!-- Create Account -->

    <!-- <mat-tab label="Create Account">
        <form class="example-form " [formGroup]="SignUpForm" (ngSubmit)="onSignUp()">

            <mat-form-field class="example-full-width ">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email"  [formControl]="email " required>
                <mat-error *ngIf="email.invalid ">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width ">
                <mat-label>Enter your password</mat-label>
                <input matInput type='password' placeholder="Password" formControlName="password" [formControl]="password " required>
                <mat-error *ngIf="password.invalid ">{{getPasswordError()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width ">
                <mat-label>Enter your password again</mat-label>
                <input matInput placeholder="retype password " [formControl]="retypePassword " required type='password'>
                <mat-error *ngIf="retypePassword.invalid ">{{getRetypePasswordError()}}</mat-error>
            </mat-form-field>

            <div class="example-button-row" style="text-align: center;">
                <button type="submit" mat-raised-button color="primary"> Sign Up</button>
            </div>
        </form>
    </mat-tab> -->
<!-- </mat-tab-group> -->