<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
<form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <!-- Ten Giay (Name)-->
    <div class="form-group" style="text-align: left;">
        <label>Tên Giày</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Name" #item required>
        <div *ngIf="Name.invalid && Name.touched" class="validation-error">This place must have.</div>
        <!--Required-->
    </div>
    <!-- Loai (Type) -->
    <div class="form-group" style="text-align: left;">
        <label>Loại</label>
        <input name="Type" #Name="ngModel" [(ngModel)]="service.formData.Type" class="form-control input-group-addon" placeholder="Type">
    </div>
    <!-- Size (Size) -->
    <div class="form-group" style="text-align: left;">
        <label for="Size">Size</label>
        <input name="Size" #Name="ngModel" [(ngModel)]="service.formData.Size" class="form-control" placeholder="Size">
    </div>
    <!-- Mau (Color) -->
    <div class="form-group" style="text-align: left;">
        <label>Màu</label>
        <input name="Weight" #Name="ngModel" [(ngModel)]="service.formData.Weight" class="form-control input-group-addon" placeholder="Color">
    </div>
    <!-- Gia (Price) -->
    <div class="form-group" style="text-align: left;">
        <label>Giá</label>
        <input name="Price" #Name="ngModel" [(ngModel)]="service.formData.Price" class="form-control input-group-addon" placeholder="Price">
    </div>
    <!-- Trang thai (Status) -->
    <div class="form-group" style="text-align: left;">
        <label>Trạng Thái</label>
        <input name="Status" #Name="ngModel" [(ngModel)]="service.formData.Status" class="form-control input-group-addon" placeholder="Status">
    </div>
    <!-- Update Button -->
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-danger" style="width: 100%;"
        (click)="openSnackBar(item.value)" >Update</button>
    </div>
</form>