<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
<form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <!-- Ten thuoc (Name)-->
    <div class="form-group" style="text-align: left;">
        <label>Tên thuốc</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Name" required>
        <div *ngIf="Name.invalid && Name.touched" class="validation-error">This place must have.</div>
        <!--Required-->
    </div>
    <!-- Dang dung (Type) -->
    <div class="form-group" style="text-align: left;">
        <label>Dạng dùng</label>
        <input name="Type" #Name="ngModel" [(ngModel)]="service.formData.Type" class="form-control input-group-addon" placeholder="Type">
    </div>
    <!-- So luong (Size) -->
    <div class="form-group" style="text-align: left;">
        <label for="Size">Số lượng</label>
        <input name="Size" #Name="ngModel" [(ngModel)]="service.formData.Size" class="form-control" placeholder="Size">
    </div>
    <!-- Khoi luong (Weight) -->
    <div class="form-group" style="text-align: left;">
        <label>Khối lượng</label>
        <input name="Weight" #Name="ngModel" [(ngModel)]="service.formData.Weight" class="form-control input-group-addon" placeholder="Weight">
    </div>
    <!-- Gia (Price) -->
    <div class="form-group" style="text-align: left;">
        <label>Giá</label>
        <input name="Price" #Name="ngModel" [(ngModel)]="service.formData.Price" class="form-control input-group-addon" placeholder="Price">
    </div>
    <!-- Trang thai (Status) -->
    <div class="form-group" style="text-align: left;">
        <label>Status</label>
        <input name="Status" #Name="ngModel" [(ngModel)]="service.formData.Status" class="form-control input-group-addon" placeholder="Status">
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-primary" style="width: 100%;">Done</button>
    </div>
</form>